<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRMN" parallel="none">
  <test name="Webjourney" preserve-order="true">
   <classes>
    <!--  <class   WEB:  END to END journey --> 
      <class name="ACS_CRMN.WebJourney">
     <methods>
 
 											<include name="A_WebJourney1"/>
									        <include name="B_CheckProfile"/>
									        <include name="C_WebJourney2"/>
											<include name="D_CheckEntitlement"/>
									        <include name="E_WebJourneyEdit"/>
									        <include name="F_Check_ACS_EditJourney_Profile"/>
									        <include name="G_CheckEntitlement"/>   									    
									       
									        
        
 </methods> 
 </class>   
 
 

 <class name="ACS_CRMN.CSRjourney">
 <methods>
 
 
										 
										        <!--   CSR: END to END journey -->
										        <include name="A_custCreation" />
										        <include name="B_custBankDetails" />
										        <include name="C_CheckProfile" />
										        <include name="D_CheckEntitlement" />
										        
        
 </methods>
 </class> 
 
 
  <class name="ACS_CRMN.TLSjourney">
 <methods>
 
 
										 
										        <!--   TLS: END to END journey -->
										        <include name="A_TLSwebJourney" />
										        <include name="B_TLScheckProfile" />
										        <include name="D_CheckEntitlement" />
										    
										        
        
 </methods>
 </class> 
 
 
 
 
		</classes>
  
  </test>  
  
  
</suite>  